@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,700&display=swap');
/* font-family: 'Overpass', sans-serif; */

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 310px;
    background-color: hsl(216, 12%, 8%);    
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 300px;
    margin: 10px;
    background: rgb(34,41,49);
    background: linear-gradient(192deg, rgba(34,41,49,1) 10%, rgba(23,30,40,1) 49%);
    border-radius: 5%;
}

h1, p, button{
    font-family: 'Overpass', sans-serif;
}

h1{
    font-size: 23px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

p{
    font-size: 13px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    line-height: 20px;
}

/* começo style box-1 */

.box-1{
    display: block;
}

.box-img-star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: rgb(38,47,56);
    border-radius: 20px;
    margin: 20px auto 30px 20px;
}

.star{
    max-width: 15px;
    max-height: 12px;
}

.bts-suporte > button{
    width: 35px;
    height: 35px;
    background-color: rgb(38,47,56);
    color: hsl(217, 12%, 63%);   
    border: none;
    border-radius: 20px;
}

/* fim style box-1 */

/* começo style box-2 */

.box-2{
    display: none;
}

/* fim style box-2 */

@media (max-width:310px),(max-height:310px){
    
    .box{
        width: 90vmin;
        height: 90vmin;
        margin: 10px;
    }
}