@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,700&display=swap');
/* font-family: 'Overpass', sans-serif; */

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 310px;
    background-color: hsl(216, 12%, 8%);    
    justify-content: center;
    align-items: center;
}

.box{
    width: 317px;
    height: 317px;
    margin: 10px;
    background: rgb(34,41,49);
    background: linear-gradient(192deg, rgba(34,41,49,1) 10%, rgba(23,30,40,1) 49%);
    border-radius: 7%;
    box-shadow: 0px 0px 14px -13px;
}

h1, p, button{
    font-family: 'Overpass', sans-serif;
}

h1{
    font-size: 23px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding-bottom: 12px;
}

p{
    font-size: 13px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    line-height: 20px;
}

/* começo style box-1 */

.box-1{
    display: block;
}

.box-img-star{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: rgb(38,47,56);
    border-radius: 20px;
    margin: 20px auto 30px 20px;
}

.star{
    max-width: 15px;
    max-height: 12px;
}

article{
    padding: 0 20px;
}

.bts-suporte{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}

.bts-suporte > button{
    width: 35px;
    height: 35px;
    background-color: rgb(38,47,56);
    color: hsl(217, 12%, 63%);   
    border: none;
    border-radius: 20px;
}

.bts-suporte > button:hover{
    background-color: #7D8999;
    color: hsl(0, 0%, 100%);
    transition: .4s ease ;
}

.bts-suporte > button:active{
    background-color: #FC7613;
    color: hsl(0, 0%, 100%);
    transition: 0.06s ease ;
}

.bt-submit{
    display: flex;
    justify-content: center;
}

#bt-submit{
    width: 260px;
    height: 35px;
    background-color: #FC7613;
    color: hsl(0, 0%, 100%);   
    border: none;
    border-radius: 20px;
}

#bt-submit:hover{
    background-color: hsl(0, 0%, 100%);
    color: #FC7613;
    transition: .4s ease ;
}


/* fim style box-1 */

/* começo style box-2 */

.box-2{
    display: none;
}

.box-img-thanks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    box-sizing: inherit;
    margin: 20px 0;
}

#thanks{
    max-width: 140px;
    max-height: 86px;
}

.selected{
    width: 50%;
    height: 22px;
    background-color: rgb(38,47,56);
    border-radius: 20px;
    padding-top: 5px;
    text-align: center;
    margin: 0 auto 30px;
}

.selected > p{
    color: #FC7613;
}


.tky{
    text-align: center;
}

/* fim style box-2 */

@media (max-width:310px),(max-height:310px){
    
    .box{
        width: 90vmin;
        height: 90vmin;
        margin: 10px;
    }
}